/* Main */
body {
    background-color: #ffffff;
	margin: 0;
}

html{
	font-family: "Ubuntu";
	font-size: 25px;
}

/* Class */
.Wave {
	position: absolute;
}

.Tab_Button1 {
	margin-left: 20px;
	margin-top: 25px;
	position: absolute;
	background-color:transparent;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Ubuntu";
	font-size:28px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
}

.Tab_Button2 {
	margin-left: 20px;
	margin-top: 65px;
	position: absolute;
	background-color:transparent;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Ubuntu";
	font-size:28px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
}

.Tab_Button3 {
	margin-left: 20px;
	margin-top: 110px;
	position: absolute;
	background-color:transparent;
	display:block;
	cursor:pointer;
	color:#E5E5E5;
	font-family:"Ubuntu";
	font-size:28px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
}

.Tab_Button4 {
	margin-left: 20px;
	margin-top: 155px;
	position: absolute;
	background-color:transparent;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Ubuntu";
	font-size:28px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
}


#Tab_Base {
	position: absolute ; z-index: 2;
	margin-left: 20px;
	margin-top: 20px;
	width: 266px;
	height: 240px;
	display: block;
	cursor:pointer;
	float: left;
}

#Tab_Base:hover  {
	display: none;
	transition: 0.75s;
}

/* LIste des Commandes  */

.command {
	margin-left: 100px;
	display: inline-flex;
	margin-top: 350px;
}

.list {
	display: flex;
	flex-direction: column;
}

#title_cmd{
	margin-left: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#000000;
	font-family:"Ubuntu";
	font-size:30px;
	font-weight:bold;
}

.list a {
	margin-left: 200px;
	margin-bottom: 5px;
	color:#272727;
	font-family:"Ubuntu";
	font-size:24px;
	font-weight:medium;
}



